.superbutton{
    padding: 2em;
    color: white;
    background: #6A5ACD;
    border-radius: 17px;
    border: none;
}

.normalbutton{
    padding: 2em;
    color: white;
    background: #1f1f1f;
    border-radius: 17px;
    border: none;
}