.create_button {
    width: 100%;

    border-radius: 15px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;

}

.create_dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 1rem;
    box-shadow:  0 8px 32px 0 rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border: none;

}
.create_dialog[open] >form> input {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.close {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 100%;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 0;
    border: none;
    align-self: flex-end;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.create_dialog_header {
    display: flex;

    flex-direction: row;
    line-height: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.create_dialog_header > p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 400px;
    position: relative;


}

.create_dialog[open] >form> input[type="text"] {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.create_dialog[open] >form> input[type="text"]::placeholder {
    color: white;
}
.create_dialog[open] >form> input[type="text"]:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}
.create_dialog[open] >form> input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: 0.125s;
}
.create_dialog[open] >form> input[type="submit"] {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.create_dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.25s;
   backdrop-filter: blur(10px);
}
