.login{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.password{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-weight: bold;
}
.register{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-weight: bold;

}