.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130deg, #ce70d6, #793a9f);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    align-self: center;
    max-width: 400px;
    width: 100%;
    margin-top: 10vh;


}
.form > input{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    margin: 1rem;
}
.form > input::placeholder{
    color: white;
}

.form > input:focus{
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}
.sumbit:hover{
    background: rgba(255, 255, 255, 0.7);
}
.submit{
    border-radius: 1rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    margin: 1rem;
}
h1{
    text-align: center;
}
