.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.chat_messages {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.chat_list {
    width: min-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}