.chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color:white;
    overflow: hidden;
    background: linear-gradient(130deg, #ce70d6, #793a9f);  /* fallback for old browsers */
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.send {
    flex-grow: 0.125;
    height: 10%;
    width: 100%;

    display: flex;


}
.send > input {
    color: white;
    height: 100%;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 0 1rem 0 0 ;



}
.send > input[type="text"]:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2);


}
.send > input[type="text"]::placeholder {
    color: white;
}
.send > input[type="text"] {
    border-top-left-radius: 1rem;

    padding: 0 1rem;
}
.send > input[type="submit"] {
    flex: 0.5;
    background-color:  rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 1rem;


    
}
.send > input[type="submit"]{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;}

.dialogsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

}