.menu {
    list-style: none;
    display: flex;

    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(135, 185, 255);
    margin: 0;
    padding: 10px;
}
.item {
    text-decoration: none;
    font-size: 3vh;

}
.item:visited {
    color:inherit
}