.header {
    /*red #F96E46 yellow #F2E94E green #96E6B3 blue #A3D9FF gray #7C606B*/
    display: flex;
    background: linear-gradient(130deg, #ce70d6, #793a9f);

    align-items: center;
    color: white;
    font-size: large;
    height: 7vh;
    gap: 20px;
    padding-left: 20px;
    min-height: 50px;
    padding-right: 1vh;
}

.brand > img {
    height: 5vh;
    min-height: 30px;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    min-height: 50px;
    
}
.avatar > img {
    height: 5vh;
    min-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

}
.profile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap: 2%;
    min-height: 50px;
}
.profile > div {
    text-decoration: none;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    cursor: pointer;
}
.profile > div:hover {
    background-color: rgba(255,255,255,0.1);
   
}
.profile > div:active {
    background-color: rgba(255,255,255,0.3);

}