.header {
    /*red #F96E46 yellow #F2E94E green #96E6B3 blue #A3D9FF gray #7C606B*/
    display: flex;
    background: linear-gradient(130deg, #ce70d6, #793a9f);

    align-items: center;
    color: white;
    font-size: large;
    height: 7vh;
    gap: 20px;
    padding-left: 20px;
    min-height: 50px;
    padding-right: 1vh;
}

.brand > img {
    height: 5vh;
    min-height: 30px;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    min-height: 50px;
    
}
.avatar  {
    height: 5vh;
    min-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1rem;


}


.dropdownContent {
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    right: 0;
    top: 7vh;

}
.dropdownItem {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
